*{
    padding: 0;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}
html{
    background: rgb(72, 150, 207);
    color: #fff;
}
img{
    text-align: center;
    height: auto;
    width: 660px;
}
div{
    text-align: center;
}
button {
    color: black;
    background-color: coral;
    padding: 20px;
    border-radius: 20px;
    font-size: large;
    cursor: pointer;
}

button:hover {
    color: #fff;
    background-color: lawngreen;
    padding: 20px;
    border-radius: 20px;
    font-size: large;
    cursor: pointer;
}

p {
    color: #fff;
    font-weight: 900;
    font-size: larger;
}
