* {
    padding: 0;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

html {
    background-color: black;
}

img {
    width: auto;
    height: 260px;
    border-radius: 20px;
    border: 3px solid #fff;
}

.make{
    font-size: 2em;
    color: blueviolet;
    margin-left: 180px;
}

img:hover {
    width: auto;
    height: 260px;
    border-radius: 20px;
    border: 3px solid #fff;
    transform: scale(1.1);
    transition: 100ms;
    cursor: pointer;
    opacity: 0.5;
}

.images {
    text-align: center;
    margin-left: 3em;
}

span {
    font-size: 1.5em;
    font-weight: bolder;
    color: #fff;
}


p {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

#you {
    font-size: 1.5em;
    color: yellow;
}

#computer {
    font-size: 1.5em;
    color: lightgreen;
}

#results {
    font-size: 1.8em;
    color: lightcoral;
}
